/*App.css*/
body {
    background-size: cover;
    color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(10px);
    z-index: -1;
}
@media (max-width: 710px) {
    #desktop-nav {
        display: none;
    }
    #mobile-nav {
        display: flex;
        justify-content: space-around;
    }
     #mobile-nav a {
            padding: 0.01rem; /* Уменьшено */
        }
}


.logo {
    max-width: 200px; /* Максимальная ширина изображения */
    max-height: 50px; /* Максимальная высота изображения */
    margin: 0; /* Убираем отступы */
    padding: 0; /* Убираем внутренние отступы */
    display: flex; /* Используем flexbox */
    align-items: center; /* Выравниваем элементы по вертикали */
}

.logo img {
    width: 100%;
    height: auto;
}