.menu-container {
    display: flex;
}

.menu-items {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    width: 50vw;
}

@media (max-width: 710px) {
    .menu-items {
        padding: 20px;
        display: flex;
        justify-content: space-between;
        width: 100vw;
    }
}

.item-name {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 8px;
    font-size: 1.3em;
    text-align: left;
}

.size-select-wrapper {
    margin-left: 8px;
    margin-bottom: 15px;
}

.size-select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    background-color: #f9f9f9;
    color: #333;
    appearance: none;
    width: 175px;
}

@media (max-width: 710px) {
    .size-select {
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 1em;
        background-color: #f9f9f9;
        color: #333;
        appearance: none;
        width: 147px;
    }
}

.size-select:hover {
    background-color: #eaeaea;
}

.size-select:focus {
    outline: none;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

.selected-category-items {
    list-style: none;
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

.edit-label {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 6px;
    border-radius: 5px;
    font-size: 15px ;
    font-weight: bold;
    color: white;
    z-index: 1;
    cursor: pointer;
}

.item-card {
    position: relative;
    width: 193px;
    height: 343px;
    border: 1px solid #ccc;
    margin-top: 50px;
    margin-right: 7px;
    box-sizing: border-box;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    z-index: 1;
    background: #aba7a754;
    box-shadow: 0 2px 4px rgba(202, 157, 102, 0.7);
}

.item-image {
    width: 191px;
    height: 150px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    object-fit: cover;
    cursor: pointer;
}

@media (max-width: 710px) {
    .item-card {
        width: 166px;
        margin-top: 50px;
        margin-left: auto;
        margin-right: 10px;
        max-width: 100%;
    }
    .item-image {
        width: 164px;
        height: 152px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        object-fit: cover;
    }
}

.item-details {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.item-price {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 8px;
    font-size: 1.2em;
    text-align: left;
}

.quantity-select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 15px;
    font-size: 1em;
    background-color: #f9f9f9;
    color: #333;
    width: 58px;
    height: 33px;
    margin-left: 8px;
    margin-right: 13px;
    margin-bottom: 10px;
}

@media (max-width: 710px) {
    .quantity-select {
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 15px;
        font-size: 0.7em;
        background-color: #f9f9f9;
        color: #333;
        width: 55px;
        height: 33px;
        margin-left: 8px;
        margin-right: 11px;
        margin-bottom: 10px;
    }
}

.quantity-select:hover {
    background-color: #eaeaea;
}

.quantity-select:focus {
    outline: none;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

.add-to-cart-button {
    background-color: rgba(31, 195, 106, 0.5);
    color: #fff;
    border: none;
    padding: 5px 10px;
    font-size: 0.7em;
    border-radius: 10px;
    cursor: pointer;
    position: absolute;
    bottom: 10px;
    left: 98px;
    height: 33px;
}

@media (max-width: 710px) {
    .add-to-cart-button {
        background-color: rgba(31, 195, 106, 0.5);
        color: #fff;
        border: none;
        padding: 5px 10px;
        font-size: 0.7em;
        border-radius: 10px;
        cursor: pointer;
        position: absolute;
        bottom: 10px;
        left: 78px;
    }
}

.add-to-cart-button:hover {
    background-color: rgba(173, 216, 230, 0.7);
}

.add-to-cart-button:focus {
    outline: none;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

.order-details {
    position: fixed;
    top: 155px;
    right: 50px;
    width: 33vw;
    padding: 20px;
    border-left: 1px solid #ccc;
    overflow-y: auto;
    border: 1px solid #fff;
    border-radius: 5px;
}

@media (max-width: 710px) {
    .order-details {
        display: none;
    }
}

.menu-nav {
    background-color: #333;
    padding: 1rem 0;
    position: absolute;
    top: 70px;
    width: 100%;
    z-index: 1000;
}

.menu-nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0 1rem;
}

.menu-nav li {
    flex: 1;
    margin-right: 1rem;
    cursor: pointer;
    color: #fff;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.menu-nav li:last-child {
    margin-right: 0;
}

.menu-nav li img {
    display: none;
}

.menu-nav li::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: transparent;
    transition: background-color 0.3s ease;
}

.menu-nav li:hover::after,
.menu-nav li.active::after {
    background-color: white;
}

@media (max-width: 710px) {
    .menu-nav {
        padding: 0.5rem 0;
    }

    .menu-nav ul {
        justify-content: space-between;
        padding: 0 0.5rem;
    }

    .menu-nav li {
        font-size: 0.56rem;
        font-family: 'Arial', sans-serif;
        font-weight: 400;
        margin-right: 0.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .menu-nav li:last-child {
        margin-right: 0;
    }

    .menu-nav li img {
        display: block;
        width: 20px;
        height: 20px;
        margin-bottom: 0.5rem;
    }
}

:root {
    --config-menu-height: 100vh;
    --config-menu-content-height: calc(100% - 50px);
    --config-item-image-max-height: initial;
}

:root {
    --config-menu-height: 100vh;
    --config-menu-content-height: calc(100% - 50px);
    --config-item-image-max-height: initial;
}

:root {
    --config-menu-height: 100vh;
    --config-menu-content-height: calc(100% - 50px);
    --config-item-image-max-height: initial;
}

:root {
    --config-menu-height: 100vh;
    --config-menu-content-height: calc(100% - 50px);
    --config-item-image-max-height: initial;
}

/* Общие стили для config-menu */
.config-menu {
    position: fixed;
    width: 100%;
    height: var(--config-menu-height); /* Используем переменную */
    display: flex;
    justify-content: center;
    align-items: flex-start;
    z-index: 1000;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.0); /* Более темный фон */
    margin-top: -13px;
}

.config-menu::before {
    content: '';
    position: absolute;
    top: -20px;
    left: -20px;
    right: -20px;
    bottom: -20px;
    background: rgba(0, 0, 0, 0.7);
    z-index: -1;
}

.config-menu-content {
    background: #f4f4f4;
    padding: 0;
    border-radius: 14px;
    width: 90%;
    max-width: 700px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    display: flex;
    flex-direction: column;
    height: var(--config-menu-content-height); /* Используем переменную */
    overflow: hidden;
    margin-top: 0;
}

.close-button {
    position: absolute;
    top: 20px;
    right: 20px;
    border-radius: 5px;
    background: #f44336;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
    z-index: 1;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.close-button:hover {
    background: #d32f2f;
    transform: scale(1.1);
}

.close-button:focus {
    outline: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.config-item-image {
    width: 100%;
    height: 35vh;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
    max-height: var(--config-item-image-max-height); /* Используем переменную */
}

.config-item-details {
    padding: 20px;
    flex: 1;
    overflow-y: auto;
}

.config-item-details h2 {
    margin-bottom: 10px;
    color: black;
}

.config-item-price {
    font-size: 1.2em;
    color: #333;
}

.config-item-description {
    font-size: 0.9em;
    color: #666;
}

.config-section-wrapper {
    background: white;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin-bottom: 15px;
}

.config-section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    color: black;
}

.config-section-header .arrow {
    width: 5px;
    height: 5px;
    display: inline-block;
    border: solid black;
    border-width: 0 2px 2px 0;
    padding: 2px;
    transition: transform 0.3s ease;
}

.config-section-header .arrow.right {
    transform: rotate(-45deg);
}

.config-section-header .arrow.down {
    transform: rotate(45deg);
}

.config-section {
    margin-top: 20px;
}

.config-section h3 {
    margin-bottom: 10px;
    font-size: 1em;
    color: #333;
}

.sauce-select,
.toppings-select,
.size-select {
    width: calc(100% - 22px);
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-top: 5px;
}

.config-footer {
    display: flex;
    align-items: center;
    padding: 10px;
    background: #f9f9f9;
    border-top: 1px solid #ddd;
    position: relative;
    margin-bottom: 20px;
    width: 97%;
    height: 60px;
    border-top-left-radius:15px;
    border-top-right-radius:15px;
}

@media (max-width: 710px) {
.config-footer {
    display: flex;
    align-items: center;
    padding: 10px;
    background: #f9f9f9;
    border-top: 1px solid #ddd;
    position: relative;
    margin-bottom: 0px;
    width: 100%;
    border-top-left-radius:0px;
    border-top-right-radius:0px;
}
}

.config-quantity-select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 15px;
    font-size: 1em;
    background-color: #f9f9f9;
    color: #333;
    width: 58px;
    height: 55px;
    margin-right: auto;
}

@media (max-width: 710px) {
    .config-quantity-select {
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 15px;
        font-size: 1em;
        background-color: #f9f9f9;
        color: #333;
        width: 58px;
        height: 56px;
    }
}

.config-add-to-cart-button {
    background-color: rgba(31, 195, 106, 0.5);
    color: #fff;
    border: none;
    padding: 5px 10px;
    font-size: 0.7em;
    border-radius: 10px;
    cursor: pointer;
    height: 55px;
    width: 120px;
    position: absolute;
    right: 17px;
}

@media (max-width: 710px) {
.config-add-to-cart-button {
    background-color: rgba(31, 195, 106, 0.5);
    color: #fff;
    border: none;
    padding: 5px 10px;
    font-size: 0.7em;
    border-radius: 10px;
    cursor: pointer;
    height: 55px;
    width: 120px;
    position: absolute;
    right: 28px;
}
}

.config-add-to-cart-button:hover {
    background-color: rgba(173, 216, 230, 0.7);
}

.config-add-to-cart-button:focus {
    outline: none;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

@media (max-width: 710px) {
    .config-menu {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.8); /* Более темный фон */
        align-items: center;
        margin-top: 0px;
    }
    .config-menu-content {
        width: 100%;
        max-width: none;
        margin-top: 0px;
        height: 100%; /* Полная высота экрана */
        overflow-y: auto; /* Вертикальная прокрутка */
    }
    .config-item-image {
        max-height: 30vh; /* Ограниченная высота изображения */
        height: auto;
    }
    .config-footer {
        position: sticky;
        bottom: 0;
        width: 100%;
    }
}

.config-menu-content::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.config-menu-content::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.config-item-details::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.config-item-details::-webkit-scrollbar-thumb {
    background-color: transparent;
}

